<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>Own Bank</display-name>
  <servlet>
  <servlet-name>Success</servlet-name>
  <jsp-file>/success.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
  <servlet-name>Success</servlet-name>
  <url-pattern>/al/success</url-pattern>
  </servlet-mapping>
  <servlet>
  <servlet-name>Sign</servlet-name>
  <jsp-file>/signup.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
  <servlet-name>Sign</servlet-name>
  <url-pattern>/signin</url-pattern>
  </servlet-mapping>
  <servlet>
  <servlet-name>Loginn</servlet-name>
  <jsp-file>/login.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
  <servlet-name>Loginn</servlet-name>
  <url-pattern>/loginn</url-pattern>
  </servlet-mapping>
  <servlet>
  <servlet-name>Depositt</servlet-name>
  <jsp-file>/deposit.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
  <servlet-name>Depositt</servlet-name>
  <url-pattern>/al/depositt</url-pattern>
  </servlet-mapping>
  <servlet>
  <servlet-name>withdraww</servlet-name>
  <jsp-file>/withdraw.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
  <servlet-name>withdraww</servlet-name>
  <url-pattern>/al/withdraww</url-pattern>
  </servlet-mapping>
 <servlet>
  <servlet-name>transferr</servlet-name>
  <jsp-file>/transfer.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
  <servlet-name>transferr</servlet-name>
  <url-pattern>/al/transferr</url-pattern>
  </servlet-mapping>
  <servlet>
  <servlet-name>settingg</servlet-name>
  <jsp-file>/setting.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
  <servlet-name>settingg</servlet-name>
  <url-pattern>/al/settingg</url-pattern>
  </servlet-mapping>
  <servlet>
  <servlet-name>Withdraw</servlet-name>
  <servlet-class>com.ownbank.services.WithdrawServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>Withdraw</servlet-name>
  <url-pattern>/al/withdraw</url-pattern>
  </servlet-mapping>
  <servlet>
  <servlet-name>Transaction</servlet-name>
  <servlet-class>com.ownbank.services.TransactionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>Transaction</servlet-name>
  <url-pattern>/al/transaction</url-pattern>
  </servlet-mapping>
  <servlet>
  <servlet-name>Setting</servlet-name>
  <servlet-class>com.ownbank.services.SettingServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>Setting</servlet-name>
  <url-pattern>/al/setting</url-pattern>
  </servlet-mapping>
  <servlet>
  <servlet-name>Transfer</servlet-name>
  <servlet-class>com.ownbank.services.TransferServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>Transfer</servlet-name>
  <url-pattern>/al/transfer</url-pattern>
  </servlet-mapping>
  <servlet>
  <servlet-name>Register</servlet-name>
  <servlet-class>com.ownbank.services.RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>Register</servlet-name>
  <url-pattern>/sign</url-pattern>
  </servlet-mapping>
  <servlet>
  <servlet-name>Deposit</servlet-name>
  <servlet-class>com.ownbank.services.DepositServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>Deposit</servlet-name>
  <url-pattern>/al/deposit</url-pattern>
  </servlet-mapping>
  <servlet>
  <servlet-name>Login</servlet-name>
  <servlet-class>com.ownbank.services.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>Login</servlet-name>
  <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
  <servlet-name>Logout</servlet-name>
  <servlet-class>com.ownbank.services.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>Logout</servlet-name>
  <url-pattern>/logout</url-pattern>
  </servlet-mapping>
  <filter>
  <filter-name>AfterLogin</filter-name>
  <filter-class>com.ownbank.filter.LoginFilter</filter-class>
  </filter>
  <filter-mapping>
  <filter-name>AfterLogin</filter-name>
  <url-pattern>/al/*</url-pattern>
  </filter-mapping>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
</web-app>